   /*  Global config */
   * {
       font-family: 'Raleway', sans-serif;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }

   :root {
       --main-color: #0065FC;
       --main-bg-color: #F2F2F2;
       --filter-bg-color: #DEEBFF;
       --button-bdr-color: #D9D9D9;
   }

   .fa-solid {
       color: var(--main-color);
   }

   .main-container {
       width: 100%;
       max-width: 1440px;
       padding: 0px 50px;
       margin: auto;
       font-size: 16px;
   }

   h1,
   h2 {
       font-size: 1.37rem;
   }

   h3 {
       font-size: 1rem;
   }

   p {
       font-size: 1rem;
   }

   a {
       color: inherit;
       text-decoration: none;
   }

   ul {
       list-style: none;
   }

   li {
       font-size: 1rem;
   }

   /* Part header */
   header {
       display: flex;
       justify-content: space-between;
   }

   #logo img {
       width: 61.09px;
       padding: 30px 0px;
   }

   nav ul {
       display: flex;
       padding: 15px 0;
       justify-content: space-between;
       gap: 68px;
   }

   nav a:hover {

       padding-top: 13px;
       /* Pour la coller au bord haut même padding que le header -2px */
       border-top: 2px solid var(--main-color);
       color: var(--main-color);
   }

   /*  Part search-en-filters */
   .search-and-filters {
       display: flex;
       flex-direction: column;
       gap: 35px;
       margin-top: 15px;
   }

   .title-part {
       display: flex;
       flex-direction: column;
       gap: 8px;
   }

   /* Button search */
   .search-part {

       display: flex;
       align-items: center;
   }

   .search-icon {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 50px;
       height: 48px;
       border-radius: 15px 0 0 15px;
       border: 1px solid var(--main-bg-color);
       background-color: var(--main-bg-color);
   }

   .search-icon {
       color: black;
   }

   .search-part input {
       width: 200px;
       height: 48px;
       border-top: 1px solid var(--main-bg-color);
       border-bottom: 1px solid var(--main-bg-color);
       border-left: none;
       border-right: none;
       outline: none;
       text-align: center;
   }

   .search-part ::placeholder {
       color: black;
       font-weight: bold;
       /* fixe placeholder opacity for Mozzila */
       opacity: 1;
   }

   #search-text {
       color: black;
       font-weight: bold;
   }

   #search-text:focus::placeholder {
       /* fix persistent placeholder after focus on Chrome */
       color: transparent;
   }

   #cta-search {
       width: 125px;
       height: 48px;
       background-color: var(--main-color);
       border: 1px solid var(--main-color);
       border-radius: 0 15px 15px 0;
       color: white;
       font-weight: bold;
       cursor: pointer;
   }

   .fa-magnifying-glass {
       /* disable icon for version desktop version */
       display: none;
   }

   #cta-search:hover {
       box-shadow: rgba(0, 0, 0, 0.35) 8px 5px 15px;
   }

   #cta-search:focus {
       outline: none;
       /* Pour l'accecibilité choix d'une bordure noir */
       border: 2px solid black;
   }

   #cta-search:active {
       opacity: 0.8;
       box-shadow: none;
       border: 1px solid var(--main-color);
   }

   /*  Part filters */
   .filters-part {
       display: flex;
       gap: 15px;
   }

   .filters-title {
       display: flex;
       align-items: center;
       font-size: 1.12rem;
       font-weight: bold;
   }

   .container-filters-btns {
       display: flex;
       gap: 10px;
   }

   .sub-container-filters-btns {
       display: flex;
       gap: 15px;
   }

   .filters-btn {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 10px;
       height: 48px;
       font-size: 1.06rem;
       font-weight: bold;
       background-color: white;
       border: 2px solid var(--button-bdr-color);
       border-radius: 25px;
   }

   .filters-btn i {
       font-size: 1.12rem;
   }

   #economic-btn {
       width: 160px;
   }

   #family-btn {
       width: 120px;
   }

   #romantic-btn {
       width: 150px
   }

   #nuggets-btn {
       width: 148px;
   }

   .filters-btn:hover {
       background-color: var(--filter-bg-color);
   }

   .filters-btn:active {
       opacity: 0.7;
       box-shadow: none;
   }

   /* Part icon + info */
   .info-part {
       display: flex;
       align-items: center;
       gap: 10px;
   }

   .info-icon {

       border: 1px solid var(--button-bdr-color);
       border-radius: 50%;
       font-size: 0.62rem;
   }

   .info-icon .fa-info {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 24px;
       height: 24px;
   }

   .legend-info {
       display: flex;
       align-items: center;
   }

   /*********** Part global cards config ************/
   .card {
       background-color: white;
       padding: 5px;
       border-radius: 20px;
       filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   }

   .card:hover {
       box-shadow: rgba(0, 0, 0, 0.35) 8px 5px 15px;
   }

   .card img {
       object-fit: cover;
   }

   .card-content {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       height: 100%;
       padding-left: 15px;
   }

   .card-txt {
       display: flex;
       flex-direction: column;
   }

   .card-title {
       margin: 8px 0;
   }

   .card-subtitle {
       font-size: 0.87rem;
   }

   .card-rating {
       margin: 8px 0;
       font-size: 1rem;
   }

   .euro {
       font-weight: bold;
   }

   .neutral-star {
       color: var(--main-bg-color)
   }

   /****** Part Hebergements And Populaires ***********/
   .hebergements-and-populaires {
       display: flex;
       margin: 35px 0;
       gap: 30px;
   }

   .hebergements-and-populaires section {
       background-color: var(--main-bg-color);
       border-radius: 20px;
       padding: 30px;
   }

   /****** Part Hebergements ***********/
   .hebergements {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       gap: 30px;
       width: 67%;
   }

   .hebergements-cards {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       gap: 30px;
       height: 100%;
   }

   .hebergements-cards>* {
       flex: 1 1 30%;
   }

   .hebergements a {
       width: 30%;
   }

   .hebergements-cards .card {
       display: flex;
       flex-direction: column;
       height: 100%;
   }

   .hebergements-cards img {
       height: 110px;
       border-radius: 20px 20px 0 0;
   }

   .show-more a {
       font-size: 1.12rem;
       font-weight: bold;
   }

   /****** Part Populaires ***********/
   .populaires {
       display: flex;
       flex-direction: column;
       gap: 30px;
       width: 33%;
       /* min-width: 328.33px; */
   }

   .populaires-title {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .populaires-title .fa-chart-line {
       font-size: 1rem;
   }

   .populaires-cards {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       gap: 30px;
   }

   .populaires-cards .card {
       display: flex;
       height: 33.33%;
       min-height: 140px;
   }

   .populaires-cards img {
       width: 33%;
       border-radius: 20px 0 0 20px;
   }

   /* Part Marseille Activities */
   .activities {
       display: flex;
       flex-direction: column;
       gap: 30px;
       padding: 30px;
       margin-bottom: 35px;
   }

   .activities-cards {
       display: flex;
       justify-content: space-between;
       gap: 30px;
   }

   .activities a {
       width: 25%;
   }

   .activities-cards .card {
       display: flex;
       flex-direction: column;
       padding: 0;
       height: 100%;
   }

   .activities-cards img {
       width: 100%;
       height: 83%;
       max-height: 360px;
       border-radius: 20px 20px 0 0;
   }

   .activities .card-txt {
       justify-content: center;
       height: 17%;
       min-height: 59px;
       padding: 0 19px;
   }

   /* Part footer */

   footer {
       display: flex;
       justify-content: space-between;
       background-color: var(--main-bg-color);
   }

   .footer-container {
       display: flex;
       flex-direction: column;
       width: 33.33%;
       padding: 20px;
   }

   .footer-container li {
       margin-top: 15px;
   }

   /* Le code ci-dessous correspond à la version responsive uniquement */

   /****** Media queries ***********/
   /* Medium devices (tablets, less/equal than 1024px) */
   @media (max-width: 1024px) {

       .filters-part {
           flex-direction: column;
           gap: 20px;
       }

       .filters-btn {
           font-size: 1rem;
       }

       .hebergements-and-populaires {
           flex-direction: column;
           gap: 0px;
       }

       .hebergements {
           width: 100%;
       }

       .populaires {
           width: 100%;
           margin-top: 50px;
       }

       .populaires-cards {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
       }

       .populaires-cards a {
           width: 30%;
       }

       .activities .card {
           max-height: 250px;
       }

       .activities-cards img {
           width: 100%;
           height: 75%;
       }
   }

   /* Small devices (phones, less than 768px) */
   @media (max-width: 767.99px) {
       .main-container {
           padding: 0px;
       }

       /* Header */

       header {
           flex-direction: column;
           align-items: center;
       }

       #logo img {
           padding-bottom: 20px;
       }

       /* Nav bar */

       nav {
           width: 100%;
       }

       nav ul {
           gap: 0;
           padding: 0;
       }

       nav li {
           width: 50%;
           text-align: center;
       }

       nav a {
           display: block;
           padding-bottom: 15px;
           width: 100%;
       }

       nav a:hover {
           border-top: none;
           padding-top: 0;
           border-bottom: 2px solid var(--main-color);
       }

       #cta-search {
           position: relative;
           right: 10px;
           width: 50px;
           height: 50px;
           border-radius: 15px;
           box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
       }

       .btn-search {
           display: none;
       }

       .fa-magnifying-glass {
           display: flex;
           color: white;
           justify-content: center;
           font-size: 1.02rem;
       }

       .search-and-filters {
           padding: 0 20px;
       }

       .search-part {
           margin: auto;
       }

       /* Filters part */

       .container-filters-btns {
           flex-wrap: wrap;
           justify-content: center;
       }

       #economic-btn,
       #family-btn,
       #romantic-btn,
       #nuggets-btn {
           width: 150px;
       }

       .filters-btn {
           justify-content: flex-start;
           font-size: 0.87rem;
           padding-left: 19px;
       }

       /* Hebergements and populaires */
       .hebergements-and-populaires {
           flex-direction: column-reverse;
           gap: 15px;
       }

       .hebergements-and-populaires section {
           border-radius: 0;
       }

       .hebergements-and-populaires .hebergements {
           background-color: white;
       }

       /* Global cards */
       .populaires-cards,
       .hebergements-cards,
       .activities-cards {
           gap: 15px;
       }

       .hebergements-cards,
       .populaires-cards,
       .activities-cards {
           flex-direction: column;
       }

       .hebergements a,
       .populaires-cards a,
       .activities a {
           width: 100%;
           max-width: 350px;
       }

       .hebergements .hebergements-cards,
       .populaires .populaires-cards,
       .activities .activities-cards {
           align-items: center;
       }

       .hebergements-cards .card,
       .activities-cards .card {
           height: 235px;
       }

       /* Populaire part */
       .populaires-cards .card {
           height: 160px;
       }

       .populaires {
           margin-top: 0;
       }

       /* Hebergements part */
       .hebergements-and-populaires .hebergements {
           gap: 15px;
           padding: 20px;
       }

       .hebergements-cards img {
           height: 65%;
       }

       /* Footer */

       footer {
           flex-direction: column;
           gap: 30px;
       }

       .footer-container {
           width: 100%;
       }
   }

   @media (max-width: 319px) {

       .search-icon {
           width: 35px;
       }

       #cta-search {
           width: 35px;
       }

       .search-part input {
           width: 150px;
       }

       .sub-container-filters-btns {
           flex-wrap: wrap;
           justify-content: center;
       }

       h1,
       h2 {
           font-size: 1.12rem;
       }

   }